{% extends 'components/layout_dashboard.html' %}

{% block body_content %}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4 product--page">
    <h1 class="h3 mb-0 text-gray-800">ADD PRODUCT</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h4 class="m-0 font-weight-bold text-dark">Add New Product</h4>
                

            </div>
            <!-- Card Body -->
            <div class="card-body">
                <form action="{% url 'supplier-add-action' %}" method='GET'>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="mb-4">
                                        <label for=""><b>Product Code</b></label>
                                        <input type="text" name="product_code" id="" class="form-control"
                                            value="" placeholder="Enter Product Code">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mb-4">
                                        <label for=""><b>Product Name</b></label>
                                        <input type="text" name="product_name" id="" class="form-control"
                                            value="" placeholder="Enter Product Name">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="mb-4">
                                        <label for=""><b>Product Category</b></label>
                                        <input type="text" name="product_category" id="" class="form-control"
                                            value="" placeholder="Enter Product Category">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mb-4">
                                        <label for=""><b>Product Base Price</b></label>
                                        <input type="text" name="product_base_price" id="" class="form-control"
                                            value="" placeholder="Enter Product GST">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mb-4">
                                        <label for=""><b>Product MRP</b></label>
                                        <input type="text" name="product_mrp" id="" class="form-control"
                                            value="" placeholder="Enter Product MRP">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="mb-4">
                                        <label for=""><b>Product Tax</b></label>
                                        <input type="text" name="product_tax" id="" class="form-control"
                                            value="" placeholder="Enter Product Tax">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mb-4">
                                        <label for=""><b>Product Disc Price</b></label>
                                        <input type="text" name="product_disc_price" id="" class="form-control"
                                            value="" placeholder="Enter Product Dicount Price">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mb-4">
                                        <label for=""><b>Product HSN</b></label>
                                        <input type="text" name="product_hsn" id="" class="form-control"
                                            value="" placeholder="Enter Product HSN">
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="offset-1 col-md-2 py-5">
                            <button type="submit" href="{% url 'supplier-add-action' %}"
                                class="btn btn-dark btn-icon-split mb-4 btn-block">
                                <span class="text">Save</span>
                            </button>
                                <a href="" class="btn btn-dark btn-icon-split mb-4 btn-block">
                                    <span class="text">Cancel</span>
                                </a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>


{% endblock %}