{% extends 'components/layout_dashboard.html' %}

{% block body_content %}

<div id="productdom">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4 product--search">
        <h1 class="h3 mb-0 text-gray-800">PRODUCTS<span id="productpage" class="page-headline-hr"></span></h1>
        <div class="mr-5">
            <a class="btn btn-dark" href="{% url 'product-add' %}">Add Product</a>
            <a class="btn ml-2 btn-dark" href="#">Import</a>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="card animated--grow-in">
            <div class="card-body">
                <div class="row mb-1">
                    <div class="col-md-6">
                        <div class="w-75">
                            <form class="form-group" action="{% url 'products' %}" id="item--search">
                                <input class="form-control form-control-user form-control-sm product-search-input"
                                    type="text" name="key" value="{{ keywords }}" autocomplete="off"
                                    placeholder="Search Products ...">
                                <input type="hidden" name="page" value="{{ page_number }}">
                            </form>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div>
                            <p class="h4 lead">Total : {{ product_count }}</p>
                        </div>
                    </div>
                </div>
                <div class="row items--grid">
                    {% include 'elements/page_elements/products/product_items.html' %}
                </div>
            </div>
        </div>

    </div>
</div>


{% endblock %}