{% extends 'components/layout_dashboard.html' %}

{% block body_content %}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4 product--page">
    <h1 class="h3 mb-0 text-gray-800">PRODUCTS</h1>
</div>

<div class="row">
    <div class="col-md-8">
        <div class="card mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h4 class="m-0 font-weight-bold text-dark">{{ product.product_name }}</h4>
                {% if product.is_disabled %}
                <a href="#" class="btn btn-warning btn-circle">
                    <i class="fas fa-exclamation-triangle"></i>
                </a>
                {% endif %}

            </div>
            <!-- Card Body -->
            <div class="card-body">
                <form action="{% url 'product-update' product.id %}" method='GET'>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label for=""><b>Product ID</b></label>
                                        <input type="text" name="productID" id="" class="form-control"
                                            value="{{ product.id }}">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label for=""><b>Code</b></label>
                                        <input type="text" name="productCode" id="" class="form-control"
                                            value="{{ product.productCode }}">
                                    </div>
                                </div>
                            </div>
                            <div class="mb-4">
                                <label for=""><b>Name</b></label>
                                <input type="text" name="product_name" id="" class="form-control"
                                    value="{{ product.product_name }}">
                            </div>
                            <div class="mb-4">
                                <label for=""><b>Category</b></label>
                                <input type="text" name="product_category" id="" class="form-control"
                                    value="{{ product.product_category }}">
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="mb-4">
                                        <label for=""><b>Tax</b></label>
                                        <input type="text" name="product_tax" id="" class="form-control"
                                            value="{{ product.product_tax }}">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="mb-4">
                                        <label for=""><b>Price</b></label>
                                        <input type="text" name="product_base_price" id="" class="form-control"
                                            value="{{ product.product_base_price }}">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mb-4">
                                        <label for=""><b>Disc Price</b></label>
                                        <input type="text" name="product_disc_price" id="" class="form-control"
                                            value="{{ product.product_disc_price }}">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mb-4">
                                        <label for=""><b>MRP Price</b></label>
                                        <input type="text" name="product_mrp" id="" class="form-control"
                                            value="{{ product.product_mrp }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="offset-1 col-md-2 py-5">
                            <a href="{% url 'product-disable' product.id %}" class="btn btn-dark mb-4 btn-block">
                                <span class="text">
                                    {% if product.is_disabled %} 
                                        Enable 
                                    {% else %} 
                                        Disable
                                    {% endif %}
                                </span>
                            </a>
                            <button type="submit" href="{% url 'product-update' product.id %}"
                                class="btn btn-dark btn-icon-split mb-4 btn-block">
                                <span class="text">Update</span>
                            </button>
                                <a href="{% url 'product-delete' product.id %}"
                                    class="btn btn-dark btn-icon-split mb-4 btn-block">
                                    <span class="text">Delete</span>
                                </a>
                                <a href="{{ prev_url }}" class="btn btn-dark btn-icon-split mb-4 btn-block">
                                    <span class="text">Cancel</span>
                                </a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>


{% endblock %}