.login-main-text {
    font-size: 100px;
}
.bg-image {
  background-image: url("../images/bg-01.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  .patch {
    p {
        font-family: $font;
        font-size: 100px;
        padding-left: 25px;
    }
    background-image: linear-gradient(to left, #202020ad, #fff);
    box-sizing: border-box;
    display: block;
    padding: 4rem 2rem;
    height: 100vh;
  }

  form {
    margin-right: 0;
    margin-left: 30%;
    max-width: 20%;
    input {
      margin-bottom: 10px;
    }
  }

}
.invoice-title h2, .invoice-title h3 {
    display: inline-block;
}

.table > tbody > tr > .no-line {
    border-top: none;
}

.table > thead > tr > .no-line {
    border-bottom: none;
}

.table > tbody > tr > .thick-line {
    border-top: 2px solid;
}