.product--item-row:hover {
  cursor: pointer !important;
}
.form-control{
  border: none;
  border-radius: 1px;
  background: transparent;
  border-bottom: solid #3b3c3d 1px;
}
input:focus, input.form-control:focus {

  outline:none !important;
  outline-width: 0 !important;
  background: transparent;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
.form-control.form-control-sm {
  font-size: 1rem;
}
.form-control.form-control-md {
  font-size: 1.5rem;
}