@import "../vendor/bootstrap.min";
@import "../vendor/dataTables.bootstrap4";
@import "../vendor/sb-admin-2.min";
@import "../vendor/all.min";
@import "fonts";
@import "variables";
@import "login";
@import "product_list";
@import "billing";

#content {
  margin-top: 30px;
}

.fa,
.fas {
  font-family: $fa;
  font-weight: 900;
}

body {
  font-family: Arial, sans-serif;
  font-size: smaller;
}

.page-headline-hr {
  border-bottom: 1px solid black;
}

.supplier--item-row {
  cursor: text;
  .editable-row-p {
    margin-bottom: 0rem !important;
  }
}

#error_alert {
  top : 20px;
  right : 40%;
  position: fixed;
  z-index: 9999;
  display:  none;
  p {
    margin-bottom: 0rem !important;
  }
}

#success_alert {
  top : 20px;
  right : 40%;
  position: fixed;
  z-index: 9999;
  display:  none;
  p {
    margin-bottom: 0rem !important;
  }
}