<table class="table table-responsive-sm table-sm table-hover">
        <thead class="">
            <tr>
                <th scope="col">Sr. No</th>
                <th scope="col">Name</th>
                <th scope="col">MRP</th>
            </tr>
        </thead>
        <tbody>
            {% for product in billing_cart_items %}
            <tr class="">
                <td>{{ forloop.counter }}</td>
                <td>{{ product.product_name }}</td>
                <td><b>{{ product.product_mrp }}</b></td>
            </tr>
            {% endfor %}
            
        </tbody>
    </table>