<table class="table table-responsive-sm table-sm table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Disc Price</th>
                <th scope="col">MRP</th>
            </tr>
        </thead>
        <tbody>

            {% for product in products %}

            <tr class="product--item-row" 
                data-apiLink="{% url 'billing_product_add' %}"
                data-productID="{{ product.id }}" >
                <th>{{ product.id }}</th>
                <td>{{ product.product_name }}</td>
                <td>{{ product.product_disc_price }}</td>
                <td><b>{{ product.product_mrp }}</b></td>
            </tr>
            {% endfor %}

        </tbody>
    </table>