<div class="col-md-12">
    <table class="table table-responsive-sm table-sm">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">Code</th>
                <th scope="col">Category</th>
                <th scope="col">Name</th>
                <th scope="col">Base Price</th>
                <th scope="col">Tax Price</th>
                <th scope="col">Discounted Price</th>
                <th scope="col">MRP</th>
                <th scope="col">Actions</th>

            </tr>
        </thead>
        <tbody>

            {% for product in products %}

            <tr class="product--item-row" data-itemid="{{ product.id }}">
                <th scope="row">{{ forloop.counter }}</th>
                <th>{{ product.id }}</th>
                <td>{{ product.product_code }}</td>
                <td>{{ product.product_category }}</td>
                <td>{{ product.product_name }}</td>
                <td>{{ product.product_base_price }}</td>
                <td>{{ product.product_tax_price }}</td>
                <td>{{ product.product_disc_price }}</td>
                <th>{{ product.product_mrp }}</th>
                <th><a class="text-dark" href="{% url 'product-detail' product.id %}">View</a></th>
            </tr>
            {% endfor %}

        </tbody>
    </table>

    <div class="pagination">
        <span class="step-links">
            {% if products.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ products.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ products.number }} of {{ products.paginator.num_pages }}.
            </span>

            {% if products.has_next %}
            <a href="?page={{ products.next_page_number }}">next</a>
            <a href="?page={{ products.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>