{% for stock_item in inventory %}
    <tr 
        class="bg-success"
        data-productID="{{ stock_item.productID }}"
        data-unitType="{{ stock_item.unitType }}"
        data-units="{{ stock_item.units }}"
        >
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ stock_item.product_id }}</td>
        <td>{{ stock_item.unit_type }}</td>
        <td>{{ stock_item.units }}</td>
        <td>{{ stock_item.stock_added }}</td>
    </tr>
{% endfor %}

