<table class="table table-responsive-sm table-sm table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">DP</th>
                <th scope="col">MRP</th>
            </tr>
        </thead>
        <tbody>

            {% for product in products %}

            <tr class="product--item-row" data-itemid="{{ product.id }}">
                <th>{{ product.id }}</th>
                <td>{{ product.product_name }}</td>
                <td>{{ product.product_disc_price }}</td>
                <td>{{ product.product_mrp }}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>