<div class="col-md-12">
    <table class="table table-responsive-sm table-sm">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Vendor</th>
                <th scope="col">Units</th>
                <th scope="col">Stock Date</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for stock_item in inventory %}
            <tr data-productID="{{ stock_item.product_id }}" data-unitType="{{ stock_item.unit_type }}"
                data-units="{{ stock_item.units }}">
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ stock_item.product_id }}</td>
                <td>{{ stock_item.vendor_id }}</td>
                <td>{{ stock_item.units }} {{ stock_item.unit_type}}</td>
                <td>{{ stock_item.stock_added }}</td>
                <td><a href="{% url 'inventory-update' stock_item.id %}">Update</a></td>
            </tr>

            {% endfor %}
        </tbody>
    </table>
</div>