{% extends 'components/layout_dashboard.html' %}

{% block body_content %}

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Billing</h1>
    </div>

    <div class="col-lg-12 billing-card">
        <div class="">
            <div class="">
                <div class="row">
                    <div class="h-100 col-3 mb-5 px-2">
                            <label for="item">Item Search</label>
                            <input class="form-control form-control-user product-search-input" type="text" name="item"
                                   id="item" autocomplete="off">
                    </div>
                    <div class="h-100 col-3 mb-5 px-2">
                            <label for="item">Customer Name</label>
                            <input class="form-control form-control-user" type="text" name="customerName"
                                   id="item" autocomplete="off">
                    </div>
                    <div class="h-100 col-3 mb-5 px-2">
                            <label for="item">Customer Phone</label>
                            <input class="form-control form-control-user" type="text" name="customerPhno"
                                   id="item" autocomplete="off">
                    </div>
                    <div class="h-100 col-3 mb-5 px-2">
                            <p class="h4 mt-4">Date: {% now "jS F Y" %} </p>
                            <input type="hidden" name="date">
                    </div>
                </div>

                <div class="billing-product--search">   
                    <div class="row ">
                        <div class="col-md-6 billing-items--grid">
                            {% include 'elements/page_elements/billing/billing_search_items.html' %}
                        </div>
                        <div class="col-md-6">
                            <div class="text-center invoice-header-title">
                                <h5><b>Invoice # 001</b></h5>
                            </div>
                            <div class="invoice-items-grid">
                                <div class="invoice-billing-items-table">
                                {% include 'elements/page_elements/billing/billing_cart_items.html' %}                                
                                </div>
                            </div>
                            <div class="invoice-details">
                                    <div class="invoice-total">
                                        <h4>Sub Total <span>1200</span></h4>
                                    </div>
                                    <div class="invoice-total">
                                        <h4>Disc <span>0</span></h4>
                                    </div>
                                    <div class="invoice-total">
                                        <h4>Total <span>1200</span></h4>
                                    </div>
                            </div>
                                <div class="invoice-buttons">
                                    <button type="button" class="btn btn-success"><i class="fas fa-save "></i> Save</button>
                                    <button type="button" class="btn btn-danger">Cancel</button>
                                </div>
                            </div>
                        </div>
                </div>

                </div>
                

            </div>

    </div>

{% endblock %}