
<div class="add-form-view invisible">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h4 class="m-0 font-weight-bold text-dark">Add New Supplier</h4>


                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <form id="supplier_add" action="{% url 'supplier-add' %}">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="mb-4">
                                    <label for=""><b>Vendor Name</b></label>
                                    <input type="text" name="ven_name" id="" class="form-control" value=""
                                        placeholder="Enter vendor name">
                                </div>
                                <div class="mb-4">
                                    <label for=""><b>Vendor Address</b></label>
                                    <input type="text" name="ven_addr" id="" class="form-control" value=""
                                        placeholder="Enter vendor address">
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="mb-4">
                                            <label for=""><b>Vendor Phone</b></label>
                                            <input type="text" name="ven_phone" id="" class="form-control" value=""
                                                placeholder="Enter vendor phone">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="mb-4">
                                            <label for=""><b>Vendor GST Number</b></label>
                                            <input type="text" name="ven_gst" id="" class="form-control" value=""
                                                placeholder="Enter vendor GST">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="mb-4">
                                            <label for=""><b>Place of supply</b></label>
                                            <input type="text" name="place_of_supply" id="" class="form-control"
                                                value="" placeholder="Enter place of supply of vendor">
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="offset-1 col-md-2 py-5">
                                <button class="btn supplier-btn-save btn-dark btn-icon-split mb-4 btn-block">
                                    <span class="text">Save</span>
                                </button>
                                <button class="btn supplier-btn-save-add btn-dark btn-icon-split mb-4 btn-block">
                                    <span class="text">Save & Add</span>
                                </button>
                                <a href="{% url 'suppliers' %}" class="btn btn-dark btn-icon-split mb-4 btn-block">
                                    <span class="text">Cancel</span>
                                </a>
                                
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

</div>