
<div class="list-view">
    <div class="row">
        <div class="col-lg-12 supplier-list">
            <div class="card animated--grow-in">
                <div class="card-body">
                    
                    <div class="row items--grid">
                        <div class="col-md-12">
                            <table class="table table-responsive-sm table-sm">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th class="" scope="col">Name</th>
                                        <th class="" scope="col">Phone</th>
                                        <th class="" scope="col">GST</th>
                                        <th class="" scope="col">Address</th>
                                        <th class="" scope="col">POS</th>
                                        <th class="" scope="col">Actions</th>

                                    </tr>
                                </thead>
                                <tbody>

                                    {% for supplier in suppliers %}

                                    <tr class="supplier--item-row" data-itemid="{{ supplier.id }}">
                                        <th scope="row">{{ forloop.counter }}</th>
                                        <td contenteditable="true" class="supplier-item"
                                            data-url="{% url 'supplier-update-attr' %}" data-var="ven_name"
                                            data-supplier_id="{{ supplier.id }}">
                                            <p class="editable-row-p">{{ supplier.ven_name }} </p>
                                        </td>
                                        <td contenteditable="true" class="supplier-item"
                                            data-url="{% url 'supplier-update-attr' %}" data-var="ven_phone"
                                            data-supplier_id="{{ supplier.id }}">
                                            <p class="editable-row-p">{{ supplier.ven_phone }} </p>
                                        </td>
                                        <td contenteditable="true" class="supplier-item"
                                            data-url="{% url 'supplier-update-attr' %}" data-var="ven_gst"
                                            data-supplier_id="{{ supplier.id }}">
                                            <p class="editable-row-p">{{ supplier.ven_gst }} </p>
                                        </td>
                                        <td contenteditable="true" class="supplier-item"
                                            data-url="{% url 'supplier-update-attr' %}" data-var="ven_addr"
                                            data-supplier_id="{{ supplier.id }}">
                                            <p class="editable-row-p">{{ supplier.ven_addr}} </p>
                                        </td>
                                        <td contenteditable="true" class="supplier-item"
                                            data-url="{% url 'supplier-update-attr' %}" data-var="place_of_supply"
                                            data-supplier_id="{{ supplier.id }}">
                                            <p class="editable-row-p">{{ supplier.place_of_supply }} </p>
                                        </td>
                                        <th class="supplier-item"><a class="text-dark"
                                                href="{% url 'supplier-delete' supplier.id %}">Delete</a></th>
                                    </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>