{% load static %}

<!-- Optional JavaScript -->
{#<!-- jQuery first, then Popper.js, then Bootstrap JS -->#}
<script src="{% static 'vendor/jquery.min.js' %}"></script>
<script src="{% static 'vendor/popper.min.js' %}"></script>
<script src="{% static 'vendor/sb-admin-2.min.js' %}"></script>
<!-- <script src="{% static 'vendor/bootstrap.min.js' %}"></script> -->

<script type="module" src="{% static 'dist/js/app.min.js' %}"></script>
