{% include 'components/header.html' %}

<body id="page-top text-dark">

    <!-- Page Wrapper -->
    <div id="wrapper">

        {% include "elements/basic/navbar.html" %}

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    {% block body_content %}
                    {% endblock %}
                    <div class="alert alert-danger" role="alert" id="error_alert">
                        <p class="">Something went wrong! Try Again.</p>
                    </div>

                    <div class="alert alert-success" role="alert" id="success_alert">
                        <p class="">Saved Sucessfull!</p>
                    </div>
                </div>
                <!-- /.container-fluid -->

                
            

            </div>
            <!-- End of Main Content -->

            {% include 'components/footer.html' %}

        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

</body>