{% extends 'components/layout_dashboard.html' %}

{% block body_content %}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">SUPPLIERS</h1>
    <div><button class="btn btn-dark mr-5 add-supplier-btn">Add Supplier</a></div>
</div>

<div id="csrf" data-value="{{ csrf_token }}"></div>

{% include 'elements/page_elements/suppliers/supplier_list.html' %}


{% include 'elements/page_elements/suppliers/supplier_add_form.html' %}


{% endblock %}