<!-- Sidebar -->
<ul class="navbar-nav sidebar accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'dashboard' %}">
        <div class="sidebar-brand-text mx-3 "><p class="text-dark">tracker</p></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'dashboard' %}">
            <span><p class="ml-3 h6 text-dark">Dashboard</p></span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" href="{% url "billing" %}">
            <span><p class="ml-3 h6 text-dark">Billing</p></span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'inventory' %}">
            <span><p class="ml-3 h6 text-dark">Receiving</p></span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'inventory' %}">
            <span><p class="ml-3 h6 text-dark">Sales</p></span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'inventory' %}">
            <span><p class="ml-3 h6 text-dark">Inventory</p></span>
        </a>
    </li>

    
    <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'products' %}">
            <span><p class="ml-3 h6 text-dark">Products</p></span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'suppliers' %}">
            <span><p class="ml-3 h6 text-dark">Suppliers</p></span>
        </a>
    </li>

</ul>
<!-- End of Sidebar -->

