{% extends 'components/layout_dashboard.html' %}

{% block body_content %}

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">INVENTORY</h1>
        <div class="mr-5">
            <a href="{% url 'inventory' %}" class="btn btn-dark">Add Purchases</a>
            <a href="{% url 'inventory' %}" class="btn btn-dark">Update Inventory</a>
        </div>
    </div>

    <div class="col-lg-12">
        <div class="card mb-4 animated--grow-in">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                        <div class="w-50 px-1">
                            <form class="form-group" action="" id="item--search">
                                <input class="form-control form-control-user form-control-sm" type="text" name="item"
                                       id="item" autocomplete="off" placeholder="Search For Item ...">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row" id="items--grid">
                    {% include 'elements/page_elements/inventory/inventory_items.html' %}
                </div>


            </div>
        </div>

    </div>

{% endblock %}