{% extends 'components/layout_dashboard.html' %}

{% block body_content %}

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Inventory</h1>
    </div>

    <div class="col-lg-12">
        <div class="card shadow mb-4 animated--grow-in">
            <div class="card-body shadow-sm  border-bottom-info">
                <div class="row mb-5">
                    <div class="col-md-8">
                        <div class="h-100 w-50 px-2">
                            <form class="form-group" action="" id="item--search">
                                <label for="item">Item Search</label><br>
                                <input class="form-control form-control-user form-control-md" type="text" name="item"
                                       id="item" autocomplete="off">
                            </form>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row" id="items--grid">
                    <div class="col-md-6">
                        {% if products %}
                            {% include 'elements/page_elements/inventory/inventory_search_items.html' %}
                        {% else %}
                            <h2>Type to search!</h2>
                        {% endif %}
                        </table>
                    </div>

                    
                     <div class="col-md-6">
                     {% if session %}
                        <table class="table table-dark table-responsive-sm table-sm">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Unit Type</th>
                                <th scope="col">Units</th>
                                <th scope="col">Stock Date</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% include 'elements/page_elements/inventory/inventory_purchase_items.html' %}
                            </tbody>
                        </table>
                    {% else %}
                        <h4>Nothing Added Yet!</h4>
                    {% endif %}
                    </div>
                </div>


            </div>
        </div>

    </div>

{% endblock %}